.body{
    background-color: lightgray
}
.navbar-brand {
    font-weight: bold;
    background-color: #48C9B0;
    color: white;
    font-size: 30px;
    padding: 10px;
    
}
.navbar navbar-default{
    background-color: white;
    color: darkslategrey
}
.nav navbar-nav navbar-right{
    background-color: rgb(20, 180, 164);
    color: white;
}
.container{
    font-weight: bold;
    background-color: lightgray
}

.row{
    background-color: white;
}

.box-title {
    float: right;
    color: rgb(20, 180, 164);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif
}

.subbox-title {
    float: right;
    color: rgb(20, 180, 164);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    color: rgb(20, 180, 164);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

h2{
    color: rgb(20, 180, 164);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.dataframe{
    border: 1px; 
    border-collapse: collapse;
}


table {
    border-collapse: collapse;
}

th,td {
    border: 1px solid black;
}

p{
  font-size: 20px;
  padding: 7px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;  
}

#box{
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    width: 300px;
    border: 3px solid white;
}
